@import "tailwindcss";
@import 'aos/dist/aos.css';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import 'keen-slider/keen-slider.min.css';

@theme inline {
  --font-sans: var(--font-geist);
}

html {
  @apply scroll-smooth;
}

/* Scrollbar completamente oculta pero funcional (compatible con todos los navegadores modernos) */
/* tailwind.config.js -> safelist or custom plugin */
.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Variables de tema */
:root {
  --color-bg: #0f0f0f;
  --color-text: #ffffff;
  --color-accent: #ff7b00;
  --color-accent-light: #ff9b3b;
  --color-muted: #a1a1aa;
}

[data-theme='light'] {
  --color-bg: #f4f4f5;
  --color-text: #0f0f0f;
  --color-accent: #ff4500;
  --color-accent-light: #ff7b00;
  --color-muted: #52525b;
}