---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import LangPicker from './LangPicker.astro';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<nav class="fixed top-4 left-1/2 transform -translate-x-1/2 w-auto max-w-4xl px-8 py-3 flex items-center justify-center gap-10 shadow-none z-50">
  <ul class="flex gap-10 text-white font-semibold text-lg">
    <li><a href={`/${lang}/`} class="hover:text-indigo-400 transition">{t('nav.home')}</a></li>
    <li><a href={`/${lang}/projects/`} class="hover:text-indigo-400 transition">{t('nav.projects')}</a></li>
    <li><a href={`/${lang}/contact/`} class="hover:text-indigo-400 transition">{t('nav.contact')}</a></li>
    <li><a href={`/${lang}/about/`} class="hover:text-indigo-400 transition">{t('nav.aboutMe')}</a></li>
  </ul>

  <div class="ml-8">
    <LangPicker />
  </div>
</nav>
